

.page-wrapper{
  background-color: black !important;

}

.z-index-1{
  z-index: 1;
}

.z-index-0{
  z-index: 0;
}

.transition-slide {
  position: relative;
}

/* Parallel animation timing */
.is-changing .transition-slide {
  transition: transform 1.5s ease-in-out, opacity 0.7s ease-in-out, scale 1s ease-in-out, filter 1s ease-in-out;
}
/* Style of previous container after leaving */
.transition-slide.is-previous-container {
  transform: translateZ(-500px) rotateX(30deg) !important;
  scale: 0.8;
  /* z-index: 0; */
  opacity: 1; /* Gardez l'opacité à 1 */
  filter: blur(10px);
  pointer-events: none; /* Ajout de cette ligne */
}
/* Style of next container before entering */
.transition-slide.is-next-container {
  transform: translateY(100%) !important;
  transition: transform 1.5s ease-in-out;
}


/* Define a transition duration during page visits
.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}
/* Define the styles for the unloaded pages */
/* html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-animating .transition-fade {
	opacity: 0;
  transform: translateX(0);
} */ 


/* body {
    --swup-overlay-theme-color: black;
    --swup-overlay-theme-duration: 1s;
    --swup-overlay-theme-delay: .2s;
    --swup-overlay-theme-scale: 1.2;
    --swup-overlay-theme-skew: 5deg;
  }
  
  .transition-fade {
    transition: opacity 1s, transform 1s;
    opacity: 1;
    transform: translateY(0);
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(0%);
  }
  
  html.is-rendering .transition-fade {
    opacity: 0;
    transform: translateY(0%);
  }
  
  html.is-changing .transition-fade {
    transition: opacity 1s, transform 1s;
  }
   */