/* Define a transition duration during page visits
.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}
/* Define the styles for the unloaded pages */
/* html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-animating .transition-fade {
	opacity: 0;
  transform: translateX(0);
} */ 


body {
    --swup-overlay-theme-color: black;
    --swup-overlay-theme-duration: 1s;
    --swup-overlay-theme-delay: .2s;
    --swup-overlay-theme-scale: 1.2;
    --swup-overlay-theme-skew: 5deg;
  }
  
  .transition-fade {
    transition: opacity 1s, transform 1s;
    opacity: 1;
    transform: translateY(0);
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(0%);
  }
  
  html.is-rendering .transition-fade {
    opacity: 0;
    transform: translateY(0%);
  }
  
  html.is-changing .transition-fade {
    transition: opacity 1s, transform 1s;
  }
  